/* *Variables* */

:root{
    --primary_orange: rgb(247, 118, 61);
    --white: rgba(255, 255, 255, 1);
    --purple: rgba(81, 36, 196, 1);
}

/* *First Setup* */

html{
    font-size: 10px;
}

body{
    font-family: "YekanBakh-Regular";
     font-size: 1.6rem;
     line-height: 1.5;
}

/* *component* */


/* *reset* */

a{
    text-decoration: none;
    display: inline-block;
}

/* *header* */

.off{
    background-color: var(--primary_orange);
    height: 6.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.off__title{
    font-size: 2.2rem;
    font-family: "YekanBakh-Bold";
    color: var(--white);
}
.off__title span{
    color: var(--primary_orange);
    background-color: var(--white);
    padding: 0 2rem;
    border-radius: 3.2rem;
}

/* *header-top* */

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo a{
    margin-left: 1.5rem;
}
.header__logo h3{
    font-size: 2.5rem;
    font-family: "YekanBakh-SemiBold";
    color: var(--primary_orange);
}
.header__menu-btn{
    width: 5rem;
    height: 5rem;
    background-color: var(--primary_orange);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
}
.header__menu__line{
    width: 3.6rem;
    height: .2rem;
    background-color: var(--white);
    position: relative;
}
.header__menu__line::after{
    content: "";
    width: 3.6rem;
    height: .2rem;
    background-color: var(--white);
    position: absolute;
    bottom: -.8rem;

}
.header__menu__line::before{
    content: "";
    width: 3.6rem;
    height: .2rem;
    background-color: var(--white);
    position: absolute;
    bottom: .8rem;

}
.search-box{
    display: flex;
    align-items: center;
    position: relative;
}
.search-box input{
    width: 48.4rem;
    outline: none;
    border: none;
    background-color: rgba(242, 242, 242, 1);
    height: 5.5rem;
    border-radius: 5rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-family: "YekanBakh-SemiBold";
    color: rgba(144, 144, 144, 1);
}
.search-box input::placeholder{
    font-size: 1.6rem;
    font-family: "YekanBakh-SemiBold";
    color: rgba(144, 144, 144, 1);
}
.search-box img{
    position: absolute;
    background-color: var(--purple);
    left: 1rem;
    padding: .6rem;
    border-radius: 100%;
    cursor: pointer;
}
.header__details{
    display: flex;
    align-items: center;
}
.header__esalat{
    display: flex;
    align-items: center;
    margin-left: 4.8rem;
}
.header__esalat img{
    margin-left: 1rem;
}
.esalat__wrapper{
    display: flex;
    flex-direction: column;
}
.esalat__wrapper h4{
    font-family: "YekanBakh-SemiBold";
    font-size: 1.6rem;

}
.esalat__wrapper p{
    font-family: "YekanBakh-Regular";
    color: rgba(0, 0, 0, 0.26);
    font-size: 1.45rem;
}
.header__ersal{
    display: flex;
    align-items: center;
}
.header__ersal img{
    margin-left: 1rem;
}
.ersal__wrapper{
    display: flex;
    flex-direction: column;
}
.ersal__wrapper h4{
    font-family: "YekanBakh-SemiBold";
    font-size: 1.6rem;
}
.ersal__wrapper p{
    font-family: "YekanBakh-Regular";
    color: rgba(0, 0, 0, 0.26);
    font-size: 1.4rem;
}
.header__icons{
    display: flex;
    align-items: center;
    gap: 3.8rem;
    margin-top: 1rem;
}
.buy-icon{
    position: relative;
}
.buy-icon::after{
    content: "۲";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--primary_orange);
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    border-radius: 100%;
    right: -13px;
    top: -5px;
}
.liked-icon{
    position: relative;
}
.liked-icon::after{
    content: "۰";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--primary_orange);
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    border-radius: 100%;
    right: -15px;
    top: -5px;
}
.user-icon{
    display: block;
}

/* **header down** */
.header__down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    font-family: "YekanBakh-Bold";
    font-size: 2.2rem;
    color: black;
    gap: .5rem;
    transition: all 150ms ease-in;
}
.header__link:hover{
    color: var(--primary_orange);
}
.number-wrapper{
    display: flex;
    align-items: center;
    gap: .8rem;
    font-family: "YekanBakh-Bold";
    font-size: 2.2rem;
}
.number-wrapper span{
    color: var(--primary_orange);
}

/* **mobile menu** */
.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: var(--white);
    padding: 9.4rem 2.4rem 0 2.4rem;
    display: flex;
    flex-direction: column;
    box-shadow: -7px 12px 41px -23px rgba(0,0,0,0.2);
    transition: all 200ms ease-in;
    transform: translateX(30rem);
    z-index: 2;
}
.mobile-menu--active{
    transform: translateX(0rem);
}
.mobile__logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.mobile__logo svg{
    cursor: pointer;
}
.mobile__search-box{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 4rem;
    position: relative;
}
.mobile__search-box input{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(242, 242, 242, 1);
    height: 5.5rem;
    border-radius: 5rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-family: "YekanBakh-SemiBold";
    color: rgba(144, 144, 144, 1);
}
.mobile__search-box input::placeholder{
    font-size: 1.6rem;
    font-family: "YekanBakh-SemiBold";
    color: rgba(144, 144, 144, 1);
}
.mobile__search-box img{
    position: absolute;
    background-color: var(--purple);
    left: 1rem;
    padding: .4rem;
    border-radius: 100%;
    cursor: pointer;
}
.mobile__search-box::after{
    content: "";
    width: 100%;
    height: .05rem;
    position: absolute;
    top: 7rem;
    background-color: var(--primary_orange);
    /* opacity: .2; */
}
.mobile__details{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
}
.mobile__esalat{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mobile__ersal{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mobile__list{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2.6rem;
}
.mobile__link{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    font-family: "YekanBakh-SemiBold";
    font-size: 1.8rem;
    color: black;
    gap: .5rem;
    transition: all 150ms ease-in;
}
.mobile__link:hover{
    color: var(--primary_orange);
}

/* **main** */
.main{
    margin-top: 4rem;
}

/* **banner** */
.banner{
    display: block;
}
.banner__wrapper{
    background: rgba(224, 245, 255, 1);
    border-radius: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 16rem 1rem 11rem;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}
.banner__content{
    display: block;
}
.banner__title{
    font-family: "Peyda-SemiBold";
    font-size: 3.6rem;
    line-height: 1.8;
}
.banner__title span{
    font-family: "Peyda-Black";
}
.banner__text{
    font-size: 15.09px;
    max-width: 33rem;
    line-height: 1.8;
    margin-top: 1rem;
}
.banner__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13.8rem;
    height: 4.5rem;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5.4rem;
    padding: 0 1rem 0 .6rem;
    font-family: "YekanBakh-SemiBold";
    font-size: 2rem;
    margin-top: 2.4rem;
}
.banner__btn div{
    background-color: var(--white);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.banner__image{
    display: block;
}
.banner__off{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rokh-ExtraBold";
    font-size: 3.1rem;
    top: 5rem;
    left: 50rem;
}
.banner__vector1{
    position: absolute;
    left: 0;
    top: 10rem;
}
.banner__vector2{
    position: absolute;
    bottom: -.8rem;
    right: 38rem;
}
.banner__vector3{
    position: absolute;
    right: 0;
    top: 6rem;
}
.banner__vector4{
    position: absolute;
    bottom: .5rem;
    right: 56rem;
}
.banner__vector5{
    position: absolute;
    left: 2.2rem;
    top: 7.6rem;
}

/* **Categories** */
.categories{
    margin-top: 4rem;
}
.categories__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categorie{
    max-width: 39.2rem;
    width: 100%;
    height: 10rem;
    background: rgba(81, 36, 196, 0.04);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.categorie__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 3rem;
    width: 100%;
    height: 100%;
}
.categorie__title{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.categorie__title img{
    display: block;
}
.categorie__title p{
    font-family: "YekanBakh-Bold";
    font-size: 2rem;
    color: black;
}
.categorie__go{
    background: rgba(81, 36, 196, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
}
.categorie--cat{
    background: rgba(224, 245, 255, 0.31);
}
.categorie--cat .categorie__go{
    background: rgba(81, 155, 194, 1);
}
.categorie--dog{
    background: rgba(247, 118, 61, 0.13);
}
.categorie--dog .categorie__go{
    background: rgba(247, 118, 61, 1);
}