@media screen and (max-width: 1400px) {
    .header__logo a{
        margin-left: 1rem;
    }
    .search-box input{
        width: 38rem;
    }
    .header__esalat{
        margin-left: 2.8rem;
    }
    .header__icons{
        gap: 2.8rem;
    }
    .banner__wrapper{
        padding-right: 12rem;
    }
    .banner__vector2{
        right: 16rem;
    }
    .banner__vector4{
        right: 37rem;
    }
    .categorie{
        max-width: 35.4rem;
    }
    .smallBanner__picture2{
        display: none;
    }
    .smallBanner__picture3{
        display: none;
    }
    .tools__products{
        width: 58%;
    }
}

@media screen and (max-width: 1200px) {
    .header__logo h3{
        display: none;
    }
    .search-box input{
        width: 31rem;
    }
    .search-box input::placeholder{
        font-size: 1.4rem;
    }
    .header__esalat{
        margin-left: 2rem;
    }
    .esalat__wrapper h4{
        font-size: 1.4rem;
    }
    .esalat__wrapper p{
        font-size: 1.27rem;
    }
    .ersal__wrapper h4{
        font-size: 1.4rem;
    }
    .ersal__wrapper p{
        font-size: 1.24rem;
    }
    .header__icons{
        gap: 2.4rem;
    }
    .header__link{
        font-size: 2rem;
        margin-left: 2.4rem;
    }
    .number-wrapper{
        font-size: 2rem;
    }
    .banner{
        display: none;
    }
    .categorie{
        max-width: 39.2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .tools__main {
        width: 30.8rem;
    }
    .tools__products{
        width: 58%;
    }
}

@media screen and (max-width: 992px) {
    .header__details{
        display: none;
    }
    .search-box input{
        width: 36rem;
    }
    .header__icons{
        gap: 3rem;
    }
    .header__link{
        font-size: 1.8rem;
        margin-left: 1.5rem;
    }
    .number-wrapper{
        font-size: 1.8rem;
    }
    .categorie{
        max-width: 33rem;
    }
    .categorie__title p{
        font-size: 1.6rem;
    }
    .tools__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tools__main {
        margin-bottom: 6rem;
    }
    .tools__products{
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .header__logo{
        display: none;
    }
    .search-box{
        display: none;
    }
    .header__menu-btn{
        display: flex;
    }
    .header__down{
        display: none;
    }
    .categorie{
        max-width: 24rem;
        overflow: hidden;
    }
    .categorie__title img{
        display: block;
        width: 4.8rem;
    }
    .categorie__go{
        width: 3.4rem;
        height: 3.4rem;
    }
    .categorie__wrapper{
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }
    .newProducts__products{
       flex-direction: column;
       align-items: center;
    }
    .newProducts__header h3{
        font-size: 2rem;
    }
    .newProducts__header a{
        font-size: 1.8rem;

    }
    .smallBanner{
        display: none;
    }
    .foods__wrapper{
        flex-direction: column;
    }
    .tools__product{
        width: 25.2rem;
    }
}

@media screen and (max-width: 576px) {
    .categorie{
        max-width: 100%;
        overflow: hidden;
    }
    .categorie__wrapper{
        padding-right: 2rem;
        padding-left: 3rem;
    }
    .categorie__go{
        width: 4.8rem;
        height: 4.8rem;
    }
    .categorie__title img{
        display: block;
        width: auto;
    }
    .tools__products{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
   
}

@media screen and (max-width: 420px) {
    .off__title{
        font-size: 1.6rem;
    }
    .tools__main{
        width: 80%;
    }
}

